header { 
    display: flex;
    background-color: #000; 
    padding: 6px; 
    color: white; 
    text-align: center; 
    box-shadow: 5px ;
    padding: 0px;
}
header h1{
    margin: 02px 0px 0px 50px;
    color: yellow;
    
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: right; 
}
nav ul li{
    margin-left: 25px;

}
nav ul li a{
    color: white;
    text-decoration: none;

}
.body{
    background-image: url();
}